# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [9]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [13]:
def class_rate(row):
    if row['rating'] <= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < row['rating'] <= 4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'
    
ratings['class'] = ratings.apply(class_rate, axis=1)
ratings.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг
5       1     1263     2.0  1260759151   низкий рейтинг
6       1     1287     2.0  1260759187   низкий рейтинг
7       1     1293     2.0  1260759148   низкий рейтинг
8       1     1339     3.5  1260759125  средний рейтинг
9       1     1343     2.0  1260759131   низкий рейтинг

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.


Результат классификации запишите в отдельный столбец region.

In [26]:
import pandas as pd

geo_data = {
    
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}


df = pd.read_csv('keywords.csv')
df[df.keyword.str.contains('москва')].head(10)

                                       keyword   shows
127                               авито москва  979292
1259                                    москва  153050
1396                           гисметео москва  140279
1482                          госуслуги москва  133061
1682                             погода москва  151701
2806                  циан недвижимость москва   78729
3786                              метро москва   68024
4888  перекресток акции москва каталог сегодня   48619
5013                         фк спартак москва   49699
5434                            авто ру москва   46991

In [27]:
cities = []
for values in geo_data.values():
    for city in values:
        cities.append(city)
print(cities)

['москва', 'тула', 'ярославль', 'петербург', 'псков', 'мурманск', 'владивосток', 'сахалин', 'хабаровск']

In [85]:
def check_region(row):
    result = 'undefined'
    keywords = row['keyword'].split(' ')
    for word in keywords:
        if word in cities:
            for i in geo_data.items():
                if word in i[1]:
                    result = i[0]
    return result
    
df['regoon'] = df.apply(check_region, axis=1)
df[df.keyword.str.contains('псков')].head(10)

                            keyword  shows        regoon
2153                    авито псков  98931  Северо-Запад
5642                   погода псков  47395  Северо-Запад
11222                         псков  24885  Северо-Запад
16094                     плн псков  18735  Северо-Запад
17360                гисметео псков  17500  Северо-Запад
23012      псковская лента новостей  13596     undefined
28334       авито псковская область  11379     undefined
30680  авито псковская область авто  11106     undefined
33433      погода в пскове на 3 дня   9648     undefined
39185            мираж синема псков   9365  Северо-Запад

### Вопрос по задаче 2:
Этот код ищет город по полному совпадению в ключевых словах. А как сделать, чтобы частичное совпадение он тоже принимал, как нужный город? Нужна отдельная функция, которая окончания всякие проверяет, но я не смогла ее составить. Или есть какой-то более дешевый способ?